FIREBASE_PROJECT_ID=xxxxxxxxxxxxx
FIREBASE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FIREBASE_AUTH_DOMAIN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FIREBASE_DATABASE_URL=https://xxxxxxxxxxxxx.firebaseio.com
FIREBASE_STORAGE_BUCKET=xxxxxxxxxxxxx.appspot.com
FIREBASE_MESSAGING_SENDER_ID=xxxxxxxxxxxx
FIREBASE_APP_ID=x:xxxxxxxxxxxx:xxx:xxxxxxxxxxxxxxxxxxxxxx
FIREBASE_MEASUREMENT_ID=xxxxxxxxxxxx
